.cl_menu{
	position:fixed;
	background:white;
	width:800px;
	left:40px;
	z-index:7;}
	
.cl_box{
	position:relative;
	display:block;
	min-width:920px;
	/* border:1px solid black; */
	vertical-align:top;}
	
.cl_div{
	position:relative;
	display:inline-block;
	/* border:1px solid black; */
	min-width:690px;
	width:1300px;
	margin:4px;
	padding:4px;}
	
.cl_divCard{
	position:fixed;
	display:inline-block;
	background:white;
	border:1px dotted silver;
	box-shadow:8px 8px 22px rgba(200,200,200,0.4);
	vertical-align:top;
	height:800px;
	min-width:440px;
	width:30%;
	top:46px;
	z-index:10;}
	
.cl_cardItems{
	position:relative;
	display:block;
	height:740px;
	overflow:auto;}
		
.cl_todoDiv:nth-child(even){
	position:relative;
	display:block;
	background:rgba(200,200,200,0.2);
	box-shadow:4px 4px 12px rgba(140,195,200,0.4);
	font-size:22px;
	margin:12px;
	padding:6px;}
.cl_todoDiv:nth-child(odd){
	position:relative;
	display:block;
	background:rgba(140,195,200,0.2);
	box-shadow:4px 4px rgba(200,200,200,0.4);
	font-size:22px;
	margin:12px;
	padding:6px;}
.cl_editCell{
	border:2px dotted transparent;}
.cl_editCell:hover{
	border:2px dotted green;
	cursor:pointer;}
.cl_editCell:hover::after{
	position:absolute;
  content: '\270E';
	color:green;
	transform: rotateY(180deg);}
	
.cl_quan1{
	display:inline-block;
	cursor:pointer;
	margin-left:4px;
	}
.cl_quan2{
	display:none;
	}
.cl_quan3{
	position:absolute;
	display:inline-block;
	text-align:right;
	width:50px;
	height:300px;
	overflow:auto;
	top:54px;
	cursor:pointer;
	background-color:rgba(250,250,250,0.9);
	z-index:99;
	}
.cl_quan4{
	display:none;
	}
.cl_quan5{
	text-align:right;
	padding:4px;
	margin-right:6px;
	}
.cl_quan5:hover{
	cursor:pointer;
	background-color:silver;
	}
.cl_inputHidden{
	position:absolute;
	border:hidden;
	top:200px;
	left:1140px;
	z-index:-4;
	}
.cl_btn{
	border:1px dotted silver;
	cursor:pointer;
	}
.cl_btn:hover{
	border:1px dotted royalblue;
	box-shadow:0px 0px 6px silver;
	}
.cl_btn:active{
	border:1px dotted royalblue;
	box-shadow:0px 0px 6px silver inset;
	}